.banner-top {
  height: 175px !important;
}

.movie-best .movie-beta__item img {
  width: 100%;
  max-width: 100%;
  max-height: 270px;
}

.banner-top img {
  position: absolute;
  left: 62% !important;
  margin-left: -800px;
  width: 100%;
}

.movie .movie__images img {
  max-width: 100%;
  max-height: 235px;
}

.movie--test {
  width: 33% !important;
}

